*~
*.pyc
02-R/walking_intro.md
02-R/walking_intro.html
03-R_viz/figure/
03-R_viz/three_systems.html
03-R_viz/three_systems.md
17-dim_reduc/pure_spectra_matrix.csv
17-dim_reduc/pure_spectra_metadata.csv
18-recommenders/user_brand.csv
20-map_reduce/out03.txt
